#layout-content > ul > li > ul {
  margin-bottom: 0;
  margin-top: 0;
}

#layout-content > h3 + p,
.collapsible-section-content[id^="random-music-group-"] > p:first-child {
  color: #444;
  font-style: italic;
  line-height: 1.4;
  margin-left: 1em;
  margin-right: 1em;
}
